h2 {
  margin: 0;
  padding: 10px 20px 0 20px;
  width: 15em;
}
.competitions {
  padding: 10px 20px;
}
.competitions-list {
  position: relative;
  width: 100%;
  display: grid;

  gap: 10px;
  grid-template-columns: auto auto auto;
}
.competitions-list-item {
  width: 100%;
}
.competitions-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.competition-header-image {
  height: 32px;
  width: 32px;
  border-radius: unset!important;
  overflow: hidden;
}

.mat-card-image {
  height: 32px!important;
  width: 33px;
  margin: 0!important;
  padding: 0;

}

.example-header-image {
  width: 50px;
}
