<h2>{{'competitions' | translate}}</h2>

<div class="competitions">
  <div *ngIf="isLoading"><app-loader></app-loader></div>
  <div class="competitions-list">
    <div *ngFor="let competition of competitions" class="competitions-list-item">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="competition-header-image">
            <img mat-card-image src="{{competition.area.ensignUrl}}" alt="{{competition.area.name}}">
          </div>
          <mat-card-title>{{competition.name}}</mat-card-title>
          <mat-card-subtitle>{{competition.area.name}} ({{competition.area.countryCode}})</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p *ngIf="competition.currentSeason">
            {{'season_starts' | translate: {
              name: competition.name,
              start: competition.currentSeason.startDate | date,
              end: competition.currentSeason.endDate | date
            } }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a color="primary" mat-button routerLink="/teams/{{competition.id}}">{{'teams' | translate}}</a>
          <a color="primary" mat-button routerLink="/scores/{{competition.id}}">{{'scores' | translate}}</a>
          <a colorcolor="primary" mat-button routerLink="/standings/{{competition.id}}">{{'standings' | translate}}</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

