.container {
  position: relative;
  min-height: 800px;
}

.table-container {
  position: relative;
  max-height: 800px;
  overflow: auto;
}

.mat-table {
  width: 98%;
  margin: 0 20px;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-date{
  max-width: 124px;
}

.mat-row:nth-child(2n) {
  background: #eeeeee;
}

.mat-row {
  height: 37px;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 10px 20px 0 20px;
  width: 15em;
}

.mat-form-field {
  font-size: 14px;
  width: 15em;
  padding-left: 20px;
}

.mat-elevation-z8.pagination {
  width: 97.2%;
  margin: 0 20px;
}
