<div class="container" >
  <h2>{{title}}</h2>
  <div class="table-container" *ngIf="!isLoading; else loader">
    <div>
      <button mat-raised-button color="primary" (click)="getDate()">Today</button>
      <button mat-raised-button color="primary" (click)="getDate(7)">Up for 7 days</button>
      <button mat-raised-button color="primary" (click)="getDate(30)">Up for month</button>
    </div>
    <mat-form-field>
      <mat-label>Filter by team</mat-label>
      <label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Enter team name..." #input>
      </label>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDisableClear matSortDirection="desc" class="mat-elevation-z8">
      <ng-container cdkColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let match">{{match.utcDate | date}}</td>
      </ng-container>
      <ng-container cdkColumnDef="home">
        <th mat-header-cell *matHeaderCellDef> Home </th>
        <td mat-cell *matCellDef="let match">{{match.homeTeam}}</td>
      </ng-container>
      <ng-container cdkColumnDef="goals">
        <th mat-header-cell *matHeaderCellDef>Scores</th>
        <td mat-cell *matCellDef="let match">{{match.score.fullTime.homeTeam}} - {{match.score.fullTime.awayTeam}}</td>
      </ng-container>
      <ng-container cdkColumnDef="away">
        <th mat-header-cell *matHeaderCellDef>Away</th>
        <td mat-cell *matCellDef="let match">{{match.awayTeam}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="mat-elevation-z8 pagination">
  <mat-paginator #scheduledOrdersPaginator [pageSizeOptions]="[20, 40, 60, 100]" [pageSize]="20"></mat-paginator>
  </div>
</div>
<ng-template #loader>
  <app-loader full="full"></app-loader>
</ng-template>
